.cue-editor-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--color-secondary-background);
  border-top: 1px solid var(--color-muted);
  border-left: 1px solid var(--color-muted);
}
