.bg-blue-500 {
  background-color: #3b82f6;
}
.bg-green-500 {
  background-color: #22c55e;
}
.bg-yellow-600 {
  background-color: #ca8a04;
}

.bg-cyan-500 {
  background-color: #06b6d4;
}

.bg-red-500 {
  background-color: #ef4444;
}

.bg-purple-500 {
  background-color: #a855f7;
}

.bg-lime-500 {
  background-color: #84cc16;
}

.bg-emerald-500 {
  background-color: #10b981;
}

.bg-orange-500 {
  background-color: #f97316;
}

.bg-rose-500 {
  background-color: #f43f5e;
}

.bg-amber-700 {
  background-color: #b45309;
}

.bg-teal-500 {
  background-color: #14b8a6;
}

.bg-red-700 {
  background-color: #b91c1c;
}

.bg-gray-400 {
  background-color: #9ca3af;
}

.bg-indigo-500 {
  background-color: #6366f1;
}

.bg-yellow-400 {
  background-color: #facc15;
}

.bg-brown-500 {
  background-color: #92400e;
}

.bg-pink-500 {
  background-color: #ec4899;
}

.bg-fuchsia-500 {
  background-color: #d946ef;
}

.bg-sky-500 {
  background-color: #0ea5e9;
}

.bg-red-400 {
  background-color: #f87171;
}

.bg-green-600 {
  background-color: #16a34a;
}

.bg-orange-600 {
  background-color: #ea580c;
}

.bg-indigo-700 {
  background-color: #4f46e5;
}

.bg-gray-200 {
  background-color: #e5e7eb;
}

.cue-editor-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--color-secondary-background);
  border-top: 1px solid var(--color-muted);
  border-left: 1px solid var(--color-muted);
}
.cue-timeline-container {
  display: flex;
  align-self: baseline;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;
  overflow: hidden;
}
.cue-timeline-content {
  flex: 1;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}
.cue-timeline-inner {
  position: relative;
  height: 100%;
}
.cue-timeline-markers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
  display: flex;
}
.cue-timeline-marker {
  position: absolute;
  top: 0;
  height: 100%;
}
.cue-timeline-marker-line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 0.5rem;
  background-color: var(--color-muted);
}
.cue-timeline-marker-label {
  position: absolute;
  top: 0;
  left: -50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: var(--color-muted);
  font-weight: 700;
}
.cue-timeline-cues {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 0;
  width: 100%;
}
.cue-box-label {
  width: 24px;
  height: 24px;
  text-align: center;
  border: 3px solid var(--color-foreground);
  fill: var(--color-background);
  paint-order: stroke fill;
  font-size: 11pt;
  font-weight: 800;
  border-radius: 5px;
}
.cue-timeline-playhead {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--color-accent);
  pointer-events: none;
  z-index: 20;
  width: 1px;
}
.cue-timeline-cue {
  position: absolute;
  height: 40px;
  top: 1px;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.video-player {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
}
.video-element {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
