.header {
  display: flex;
  justify-content: space-between;
}
.header .logo-container {
  padding: 10px;
  display: flex;
  align-items: center;
}
.header img {
  -webkit-user-drag: none;
  user-select: none;
}
.cue-box-label {
  width: 24px;
  height: 24px;
  text-align: center;
  border: 3px solid var(--color-foreground);
  fill: var(--color-background);
  paint-order: stroke fill;
  font-size: 11pt;
  font-weight: 800;
  border-radius: 5px;
}
.window-electron-dragger {
  -webkit-app-region: drag;
  flex-grow: 1;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}
.window-controls {
  display: flex;
  align-self: flex-end;
  align-items: center;
}
.window-buttons {
  width: 42px;
  height: 42px;
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
}
.window-buttons:hover {
  background-color: var(--color-secondary-background);
}
.window-buttons img {
  width: 16px;
  height: 16px;
  -webkit-user-drag: none;
  user-select: none;
}
.main-view {
  display: flex;
  flex-grow: 1;
}
.side-pane {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
}
.side-pane-button {
  appearance: none;
  border: none;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border-radius: 10px;
  background-color: var(--color-background);
}
.side-pane-button img {
  width: 24px;
  height: 24px;
  -webkit-user-drag: none;
  user-select: none;
}
.side-pane-button.active,
.side-pane-button:hover {
  background-color: var(--color-secondary-background);
}
.home {
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.home h1 {
  font-weight: 800;
}
